.title {
    font-weight: 800;
    text-transform: uppercase;
    color: $clr-text;

    &:first-letter {
        color: $clr-main;
    }

    &--level-1 {
        font-size: 110px;
        line-height: .95;
    }
}